oauth.consumerKey=CONSUMER_KEY
oauth.consumerSecret=CONSUMER_SECRET

# This properties are also mandatory to connect with Twitter
enableApplicationOnlyAuth=true
http.useSSL=true

# Only used during tests
debug=true
loggerFactory=twitter4j.StdOutLoggerFactory