# Rename this file to twitter4j.properties and defined the oauth properties to connect with Twitter
oauth.consumerKey=CONSUMER_KEY
oauth.consumerSecret=CONSUMER_SECRET

# This properties are also mandatory to connect with Twitter
enableApplicationOnlyAuth=true
http.useSSL=true

# Only useful during tests
debug=true
loggerFactory=twitter4j.StdOutLoggerFactory