# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
debug=true
jsonStoreEnabled=true
loggerFactory=twitter4j.StdOutLoggerFactory

oauth.consumerKey=CONSUMER_KEY
oauth.consumerSecret=CONSUMER_SECRET

enableApplicationOnlyAuth=true
http.useSSL=true